body {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#instructions,
#messages {
    margin: 0 20px;
}

.instructions h1,
#messages p {
    margin-bottom: 10px;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 2px;
    margin-bottom: 20px;
}

.grid-cell {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.firing-board-cell {
    background-color: #99c2ff; /* Firing board color */
}

.ship-board-cell {
    background-color: #c2ffc2; /* Ship board color */
}

.hit-cell {
    background-color: red;
    color: white;
}
