:root {
    --backgroundColor: beige;
    --borderColor: #13678A;
    --linkColor: #13678A;
    --linkColor2: #45C4B0;
    --headingColor: #13678A;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--backgroundColor);
}

@keyframes colorChange {
    0% {
        background-color: aqua;
    }
    25% {
        background-color: lightblue;
    }
    50% {
        background-color: skyblue;
    }
    75% {
        background-color: deepskyblue;
    }
    100% {
        background-color: aqua;
    }
}

header {
    color: var(--headingColor);
    text-align: center;
    padding: 40px;
    width: 97%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    animation: colorChange 10s infinite;
    border-bottom: none;
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

div {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid var(--borderColor);
}

ul li {
    list-style-type: none;
    padding: 10px;
}

h1, h2 {
    font-family: 'BioRhyme', serif;
    color: var(--headingColor);
    text-align: center;
}

a {
    display: inline-block;
    transition: transform 0.5s ease;
    text-decoration: none;
    color: var(--linkColor);
}

a:hover {
    transform: scale(1.3, 1.3);
    color: var(--linkColor2);
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid var(--borderColor);
}
